body{background-repeat: no-repeat;
    color: rgb(242, 242, 247);
    background-image: url(/sontop/IMG_0048.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}